@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #181818;
    color: white;
    font-family: "Press Start 2P", serif;
}
header{
    padding: 30px;
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 5px solid white;
    position: relative;
}
.headerTop{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.headerTopAgainBtn{
    padding: 20px 30px;
    font-size: 18px;
    border: none;
    font-family: "Press Start 2P", serif;
    cursor: pointer;
}
.headerTopAgainBtn:hover{
    background-color: rgb(220, 220, 220);
}
.headerTop h4{
    font-size: 15px;
}
.title{
    font-size: 40px;
    font-weight: 700;
    margin: 50px 0 120px 0;
}
.number{
    width: 200px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: black;
    font-size: 50px;
    position: absolute;
    bottom: -50px;
    left: 50%;
    transform: translateX(-50%);
}

main{
    display: flex;
    justify-content: space-evenly;
    padding: 150px 0;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
}
.mainLeft__input{
    background-color: transparent;
    border: 5px solid white;
    width: 230px;
    height: 100px;
    padding: 20px;
    text-align: center;
    color: white;
    font-size: 40px;
    font-family: "Press Start 2P", serif;
}
.mainLeft__input::placeholder{
    color: white;
}
.mainLeft__button{
    font-size: 18px;
    padding: 20px 30px;
    background-color: white;
    color: black;
    border: none;
    font-family: "Press Start 2P", serif;
    cursor: pointer;
}
.mainLeft__button:hover{
    background-color: rgb(220, 220, 220);
}

.mainRight{
    width: 380px;
    margin-left: 100px;
}
.mainRight h3{
    font-size: 20px;
    margin-bottom: 60px;
}
.mainRight p{
    font-size: 17px;
    margin-bottom: 15px;
}